$primary-color: #55c57a;
$light-primary-color: #7ed56f;
$dark-primary-color: #28b485;
$grey-dark-color: #777;
$white-color: #fff;
$black-color: #000;

$secondary-light-color: #ffb900;
$secondary-dark-color: #ff7730;

$teritary-light-color: #2298ff;
$teritary-dark-color: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #333;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$default-font-line: 1.6rem;