.btn{
    &,
    &:link,
&:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s ;
    position: relative;

    border: none;
    cursor: pointer;
}
&-white{
    background-color: $white-color;
    color: $grey-dark-color;
}
&-green{
    background-color: $primary-color;
    color: $white-color;
}

&:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0px 10px 20px rgba($black-color,.2);
}
&:active{
    transform: translateY(-0.1rem);
     box-shadow: 0px 5px 10px rgba($black-color,.2);
}
&::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;


}
&-white::after{
    background-color: $white-color;
}
&-green::after{
    background-color: $primary-color;
}
&:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
&-animated{
    animation-name: moveinbottom ;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}
    
}
.btn-text{
    &:link,
    &:visited{
        font-size: 1.6rem;
        color: $primary-color;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
        padding: 3px;
        transition: all .2s;

    }
    &:hover{
        background-color: $primary-color;
        color: $white-color;
        box-shadow: rgba($black-color,.15);
        transform: translateY(-2px);
        

    }
    &.active{
        box-shadow: 0 .5rem 1rem rgba($black-color,.15);
        transform: translateY(-2px);
    @include respond(tab-port){
        position: relative;
        z-index: 10;
    }
    
    }
}
