.stories{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($black-color, .1);
    background-color: rgba($white-color, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-line;
    transform: skewX(-12deg);

    @include respond(tab-port){
        width: 100%;
        padding: 6rem;
        padding-left: 9rem;

    }
    @include respond(phone){
        transform: skewX(0);
    }

    &_shape{
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        border-radius: 50%;
       
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        @supports(backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)){
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
         width: 15rem;
        height: 15rem;
        background-color: rgba($white-color, .6);
        }

        @include respond(phone){
        transform: translateX(-3rem) skewX(0);
    }

    }
    &_image{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .3s;

    }
    &_text{
        transform: skewX(12deg);
        @include respond(phone){
        transform:  skewX(0);
    }

    }
    &_caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $white-color;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .3s;

    }
    &:hover &_caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover  &_image{
         transform: translateX(-4rem) scale(1);
         filter: blur(1px) brightness(80%); 

    }
}