.heading-primary{
    color: $white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1.6rem;

    &-main{
    display: block ;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveinleft;
    animation-duration: 1s ;
    animation-timing-function: ease-out;

    @include respond(phone){
        letter-spacing: .5rem;
        font-size: 5rem;
    }
    

}
    &-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveinright;
    animation-duration: 1s;
    

}

}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $black-color;
    padding: 3rem;
}
.heading-secondary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $light-primary-color,
    $dark-primary-color);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .3s ease-out;

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black-color, .2);
  }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
        

}


