.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features{
    padding: 20rem 0;
     background-image: linear-gradient(
    to right bottom,
    rgba($light-primary-color, 0.8),
    rgba($primary-color, 0.8)
    ),
    url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -25rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
    @include respond(tab-port){
        padding: 10rem 0;
    }
}
.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -15rem;
    @include respond(tab-port){
        padding: 20rem 0 10rem 0 ;
    }
}
.section-stories{
    margin-top: -10%;
    position: relative;
    padding: 15rem 0;
    @include respond(tab-port){
        padding: 10rem 0;
    }
    
}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $light-primary-color, $dark-primary-color);
    @include respond(tab-port){
        padding: 10rem 0;
    }
}
.book {
  background-image: linear-gradient(105deg, 
                                    rgba($white-color, .9) 0%,
                                    rgba($white-color, .9) 50%,
                                    transparent 50%) ,
                            url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .2);

    
    @include respond(tab-port){
        background-image: linear-gradient(105deg, 
                                    rgba($white-color, .9) 0%,
                                    rgba($white-color, .9) 65%,
                                    transparent 65%) ,
                            url(../img/nat-10.jpg);
                            background-size: cover;
    
    }
    @include respond(tab-port){
        background-image: linear-gradient(to right, 
                                    rgba($white-color, .9) 0%,
                                    rgba($white-color, .9) 100%,
                                   ) ,
                            url(../img/nat-10.jpg);
                            background-size: cover;
    }


    &_form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land){
            width: 65%;
        }
         @include respond(tab-port){
            width: 100%;
         }
    }
}